<div class="col-md-2 chat no-padding" id="chat-view"
     style="margin-top: 10vh;box-shadow: 0 5px 10px rgba(0,0,0,0.3);border-radius: 0.5rem;overflow: hidden">
  <div>
    <button class="col-sm-12 btn-info btn-sm" type="button" style="border: 0">
      聊天窗口
      <i class="icon-remove" style="float: right;margin-top: 3px" (click)="closeAux()"></i></button>
    <input class="col-sm-12" type="text"
           style="height: 10vh;border: 0;border-bottom: solid 1px rgba(0,0,0,0.1);outline: none"/>
    <div class="col-sm-12 no-padding" style="height: 4vh;background: #fff">
      <input type="text" class="col-sm-7 no-padding form-control" style="margin-top: 0.5vh;margin-left: 8px;float: left"/>
      <input type="button" class="btn btn-info col-sm-3 no-padding" style="margin-top: 0.5vh;margin-right: 8px;float: right" value="发送"/>
    </div>
  </div>
</div>
