<div id="msg-background" [ngStyle]="{'display': display}">
  <div id="msg-view" class="col-4 offset-4">
    <input id="info" class="col-12" type="button"
           *ngIf="display == 'block'" value="添加结果:{{msg.info}}"/>
    <button class="btn btn-primary col-lg-2 offset-lg-8" id="btn-confirm"
            *ngIf="display == 'block'" (click)="onSkip(msg.info)">确定</button>
  </div>
</div>
<div class="container" style="height:72vh">
  <div class="row col-sm-12" style="margin-top: 15vh">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" action="/product/" method="post" class="col-sm-12" style="padding:20px">
      <div>
        <p class="col-sm-4 offset-4 form-group">
          商品名称<input type="text" class="form-control" formControlName="title"/>
          <span [ngStyle]="{'display':this.errorDisplay ? 'none':'block'}">
            <span style="color: red;" [hidden]="!myForm.hasError('required','title')">商品名称不能为空</span>
            <span style="color: red;" [hidden]="!myForm.hasError('isChinese', 'title')">{{myForm.getError('isChinese', 'title')?.info}}</span>
          </span>
        </p>
        <p class="col-sm-4 offset-4 form-group">
          商品价格<input type="text" class="form-control" formControlName="price"/>
          <span [ngStyle]="{'display':this.errorDisplay ? 'none':'block'}">
            <span style="color: red;" [hidden]="!myForm.hasError('required','price')">价格不能为空</span>
          </span>
        </p>
        <p class="col-sm-4 offset-4 form-group">
          商品图片<input type="text" class="form-control" formControlName="url"/>
        </p>
        <p class="col-sm-4 offset-4 form-group">
          商品详情<input type="text" class="form-control" formControlName="remark"/>
          <span [ngStyle]="{'display':this.errorDisplay ? 'none':'block'}">
            <span style="color: red;" [hidden]="!myForm.hasError('required','remark')">商品详情不能为空</span>
          </span>
        </p>
        <p class="col-sm-4 offset-4 form-group">
          商品星评<input type="text" class="form-control" formControlName="rating"/>
          <span [ngStyle]="{'display':this.errorDisplay ? 'none':'block'}">
            <span style="color: red;" [hidden]="!myForm.hasError('required','rating')">商品星评不能为空</span>
          </span>
        </p>
      </div>
      <button class="col-sm-2 offset-5 btn btn-success" type="submit" >提交</button>
      <!--<button class="col-sm-2 offset-5 btn btn-success" type="submit" [disabled]="!myForm.valid">提交</button>-->
    </form>
  </div>
</div>
<div>
  {{myForm.value | json}}
</div>
<div>

</div>
