<div class="container" style="height:74.3vh">
  <div class="row col-sm-12" style="margin-top: 15vh">
    <form class="col-sm-12" style="padding:20px">
      <p class="col-sm-4 offset-4 form-group">商品名称<input type="text" class="form-control"/></p>
      <p class="col-sm-4 offset-4 form-group">商品价格<input type="text" class="form-control"/></p>
      <p class="col-sm-4 offset-4 form-group">商品详情<input type="text" class="form-control"/></p>
      <button class="col-sm-2 offset-5 btn btn-success" type="submit">提交</button>
    </form>
  </div>
</div>
