#btn-return-products{
  margin-top: 1vh;
  float: left;
  position: absolute;
  left: 10vw;
}

#msg-background{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 50000;
  text-align: center;
}

#msg-view{
  margin-top: 10vh;
  height: 20vh;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-radius: 1rem;
}

#info{
  height: 70%;
  border: 0;
  background: #fff;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

#btn-confirm{
  margin-top: 1vh;
}

#btn-update, #btn-delete{
  margin-top: 1vh;
}

.input-group{
  margin-top: 3px;
}

#btn-open-comment{
  margin-top: 1vh;
  float: left;
}
